body {
  font-family: "Arial"
}

a {
  text-decoration: none;
  color: #0096ff;
}

.product-container {
  padding: 10px;
}

.image-container {
  position: relative;
  overflow: auto;
}

.product-container img {
  width:100%;
  height:auto;
}

.description-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:#000;
  opacity:.8;
/*  display: none;*/
}

.page-title {
  font-size: 36px;
  text-align: center;
}

.page-tagline {
  font-size: 18px;
  text-align: center;
}

.product-content {
  border: 1px solid #aaa;
}

.title {
  font-size: 16px;
  text-align: center;
}

.tagline {
  font-size: 16px;
  text-align: center;
}

.description {
  padding: 10px;
}
